@model ControlApp.Entities.Objects.Note

@{
    ViewBag.Title = "CreateNote";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/Estilos/font-awenson.min.css" rel="stylesheet" />
    <!-- NProgress -->
    <link href="~/Estilos/nprogress.css" rel="stylesheet" />
    <!-- Custom Theme Style -->
    <link href="~/Estilos/custom.min.css" rel="stylesheet" />
    <!--Checkbox-->
    <link href="~/Estilos/Checkbox.css" rel="stylesheet" />
    <link href="~/Estilos/Responsive.css" rel="stylesheet" />
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">

                    <div class="clearfix"></div>
                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li><a href="../CreateUser/CreateUser"><img src="~/Iconos/User.png" /> User</a></li>
                                <li><a href="../CreateDepartment/CreateDepartment"> <img src="~/Iconos/Department.png" /> Department</a></li>
                                <li><a href="../CreateArea/CreateArea"> <img src="~/Iconos/Area.png" />  Area </a> </li>
                                <li><a href="../CreatePosition/CreatePosition"> <img src="~/Iconos/Position.png" />  Position</a></li>
                                <li><a href="../CreatePermission/CreatePermission"> <img src="~/Iconos/Permission.png" /> Permission </a></li>
                                <li><a href="../CreateRole/CreateRole"> <img src="~/Iconos/Role.png" /> Role </a> </li>
                                <li><a href="../CreateRolePermission/CreateRolePermission"> <img src="~/Iconos/Role Permission.png" />  Role Permission </a></li>
                                <li><a href="../CreateNote/CreateNote"> <img src="~/Iconos/Nota.png" />  Note </a></li>
                                <li>
                                    <a> <img src="~/Iconos/Reports and Others.png"> Reports and Others <img src="~/Iconos/Abajo.png"></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            <a> Reports <img src="~/Iconos/Abajo.png"> </a>
                                            <ul class="nav child_menu">
                                                <li><a href="../WeeklyReport/WeeklyReport">Weekly Reports</a> </li>
                                                <li><a href="../MonthlyReport/MonthlyReport">Monthly Reports</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="../Graphs/Graphs"> Graphs </a></li>
                                        <li><a href="../Indicators/Indicators"> Indicators </a></li>
                                    </ul>
                                </li>
                                <li><a href="../UploadNoteStyleCorrection/UploadNoteStyleCorrection"> <img src="~/Iconos/Note Style Corretion.png" /> Note Style Correction </a></li>
                                <li><a href="../UploadNoteDiagram/UploadNoteDiagram"> <img src="~/Iconos/Note Diagram.png" /> Note Diagram </a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"> <img src="~/Iconos/Menu.png" /> </a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a data-toggle="tooltip" data-placement="top" title="Logout" href="../Login/Login">
                                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                                </a>
                            </li>
                            <li class="">
                                <br />
                                @ViewBag.username <img src="~/Iconos/User2.png" />
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            @using (Html.BeginForm("Submit", "CreateNote", FormMethod.Post))
            {


            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>Note Information</h3>
                        </div>

                    </div>
                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <ul class="nav navbar-right panel_toolbox"></ul>

                                
                                <div class="form-horizontal form-label-left" novalidate>

                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Id_User">
                                            ID Note <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            @*<input type="text" id="Id_Note" name="pId_Note" required="required" class="form-control col-md-7 col-xs-12" onkeypress='return event.charCode >= 48 && event.charCode <= 57' />*@
                                            @Html.TextBoxFor(x => x.ID_Note, new { @class = "form-control col-md-7 col-xs-12", required = "required", name = "pId_Note", id = "Id_Note" })
                                        </div>
                                    </div>

                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Name_User">
                                                Title <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                @*<input id="Title" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="pNote_Title" required="required" type="text">*@
                                                @Html.TextBoxFor(x => x.Note_Title, new { @class = "form-control col-md-7 col-xs-12", name = "pNote_Title" })
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Date">
                                                Date <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                @*<input type="date" id="Date" name="pNote_Date" size="20" required="required" class="form-control col-md-7 col-xs-12">*@
                                                @*@Html.TextBoxFor(x => x.Note_Date, new { @class = "form-control col-md-7 col-xs-12", type = "date", name = "pNote_Date" })*@
                                                @Html.TextBoxFor(x => x.Note_Date, new { @class = "form-control col-md-7 col-xs-12", name = "pNote_Date" })
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Note_Content">
                                                Content Note <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                @*<textarea id="Note_Content" required="required" name="pNote_Content" class="form-control col-md-7 col-xs-12" rows="7" cols="200" placeholder="Attach the note"></textarea>*@
                                                @Html.TextAreaFor(x => x.Note_Content, new { @class = "form-control col-md-7 col-xs-12", name = "pNote_Content" })
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="State_Area">
                                                State <span class="required">*</span>
                                            </label>
                                            <div class="onoffswitch">
                                                @*<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>*@
                                                @Html.TextBoxFor(x => x.State, new { @class = "onoffswitch-checkbox", type="checkbox", id = "myonoffswitch"})
                                                <label class="onoffswitch-label" for="myonoffswitch">
                                                    <span class="onoffswitch-inner"></span>
                                                    <span class="onoffswitch-switch"></span>
                                                </label>

                                            </div>
                                        </div>
                                        @ViewBag.Msg
                                        <div class="ln_solid"></div>
                                        <div class="form-group">
                                            <div class="col-md-6 col-md-offset-3">
                                                <input type="submit" class="btn btn-primary" formaction="Cancel" value="Cancel" />
                                                <input type="submit" class="btn btn-success" formaction="Submit" value="Submit" />
                                                <input type="submit" class="btn btn-success" formaction="Modify" value="Modify" />
                                                <input type="submit" class="btn btn-success" formaction="Consult" value="Consult" />
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
            <!-- /page content -->
        </div>
    </div>

        <!-- jQuery -->
        <script src="~/Scripts/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="~/Scripts/bootstrap.min.js"></script>
        <!-- FastClick -->
        <script src="~/Scripts/Fastclick.js"></script>
        <!-- NProgress -->
        <script src="~/Scripts/Nprogress.js"></script>
        <!-- validator -->
        <script src="~/Scripts/validator.js"></script>
        <!-- jQuery Smart Wizard -->
        <script src="~/Scripts/jquery.smartWizard.js"></script>
        <!-- Custom Theme Scripts -->
        <script src="~/Scripts/Custom.min.js"></script>

</body>
</html>

